.idea/
venv/
creds.txt
pia-creds.txt
mul-creds.txt

# terraform
deployment/.terraform
deployment/.terraform.lock.hcl
deployment/terraform.tfstate
deployment/terraform.tfstate.backup
deployment/src.zip

# caches and such
.DS_Store
**/.DS_Store
__pycache__
**/__pycache__

